/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;}

/* HTML5 display-role reset for older browsers */
/* endzeit_____ */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
/* michael-k90 */
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
/* endzeit_____ */
.submit-form .field:focus::-webkit-input-placeholder {opacity:0;}
.submit-form .field:focus::-moz-placeholder          {opacity:0;}
.submit-form .field:focus:-moz-placeholder           {opacity:0;}
.submit-form .field:focus:-ms-input-placeholder      {opacity:0;}
.submit-form .field::-webkit-input-placeholder {color: #707070; opacity: 1;}
.submit-form .field:-moz-placeholder {color: #707070; opacity: 1;}
.submit-form .field::-moz-placeholder {color: #707070; opacity: 1;}
.submit-form .field:-ms-input-placeholder {color: #707070; opacity: 1;}
.hidden{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.clearfix:after, .plus li:after, .ship li:after {content: '';display: block;clear: both;}
.clear{clear: both;height: 0px;}

html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
h1,h2,h3,h4,h5,h6{font-family: 'Open Sans', sans-serif; font-weight: 700; text-transform: uppercase;line-height: 1.3em;}
b,strong{font-weight: 700;}
body{
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875em;
    color: #000000;
    background: #535353;
}
.wrap {
    width: 480px;
    padding: 0;
    margin: 0 auto;
    background: #fff;
}
section, footer {
	width: 100%;
    position: relative;
}
section {
    padding: 30px 0 0;
}
.wrap:after {
    clear: both;
    content: "";
    display: table;
}
section:after, footer:after {
    clear: both;
    content: "";
    display: table;
}
.submit-form .field{
    position: relative;
    display: block;
    outline: 0;
    border: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    width: 401px;
    height: 64px;
    line-height: 64px;
    margin: 0 auto 20px;
    padding: 0 20px;
    background:#fff;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #000;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
}
.button-m {
    position: relative;
    z-index: 2;
    display: block;
    width: 408px;
    height: 82px;
    line-height: 82px;
    margin: 0 auto;
    border: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #222;
    letter-spacing: 0.6px;
    background: url("	https://minikamin.successfulshop.space/images/button.png") no-repeat 0 0;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-shadow: 0 1px 0#000000;
}
.button-m:hover {
}
.button-m:active {
    top:-1px;
}
.submit-form {
    width: 408px;
    margin: 0 auto;
}
.submit-form .button-m{
    width: 100%;
}
.price {
    width: 100%;
    background: url("	https://minikamin.successfulshop.space/images/price.png") no-repeat 0 0;
    height: 92px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.old-cost {
    width: 50%;
    float: left;
    font-size: 36px;
    color:#222222;
    padding-top: 30px;
    padding-right: 58px;
}
.old-cost small {
    font-size: 30px;
}
.old-cost span {
    text-decoration: line-through;
}
.new-cost {
    width: 50%;
    float: right;
    color:#fba01f;
    font-size: 48px;
    padding-top: 29px;
    padding-left: 58px;
}
.new-cost small {
    font-size: 30px;
}
.new-cost span {
    
}