/*Таймер*/
.countbox:before {
    content: 'До конца акции осталось:';
    display: block;
    text-align: center;
    font-size: 16px;
    color:#fff;
    font-weight: 700;
    margin-bottom: 13px;
    text-transform: uppercase;
}
.countbox {
    height: 124px;
    width: 100%;
    padding-left: 0;
    margin: 0 auto 30px;
}
.countbox > div:last-child {
    margin: 0;    
}
.countbox > div:first-child {
    margin-left: 70px;    
}
.countbox .countbox-num {
    float: left;
    width: 80px;
    height: 80px;
    background: #121212;
    margin-right: 50px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    padding-top: 12px;
}
.countbox-hours, .countbox-mins, .countbox-secs {
    color: #fba01f;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    line-height: 32px;
    position: relative;
}
.countbox-hours:after, .countbox-mins:after {
    content: ':';
    display: block;
    font-size: 36px;
    font-weight: 400;
    color:#fff;
    position: absolute;
    top:5px;
    right: -30px;
}
.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
    font-size: 14px;
    font-weight: 400;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
}